#content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#greeting-container {
  margin-top: 20px;
}

#expand {
  margin-top: 20px;
}

h1 {
    font-family: 'Permanent Marker';
    color: mediumorchid;
    font-size: 50px;
    text-align: center;
}

#gallery img{
    padding: 0 5px;
    width: 28%;
}
#gallery img:hover{
   opacity: 0.7; 
}

#heading {
    background-image:  url("images/wall.jpeg");
    width: 100%;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subParagraphs {
    display: flex;
    justify-content: space-evenly;
}