#content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
body {
    background-color: rgb(108, 160, 115)
}

#heading {
    background-image:  url("images/cam.jpg");
    background-position-y: 50%;
    width: 100%;
    height: 80%;
    background-size: cover;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}

#rectangle{
    height: 125px;
    width: 50%;
    background-color: rgb(108, 160, 115);
    opacity: 0.95;
    font-family: 'Permanent Marker';
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    line-height: 1;

}

h3 {
    font-size: 30px;
    line-height: 0.2;
}

/* Gallery */
#galleryBox {
    padding: 10px; 
    background-color: antiquewhite;
    border-radius: 5px;
    font-family: 'Permanent Marker';
    color: rgb(108, 160, 115);
    font-size: 30px;
    text-align: center;
    line-height: 0;
    width: 90%
}

#gallery {
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
#gallery img{
    padding: 0px;
    height: 200px;
}
#gallery img:hover{
   opacity: 0.8; 
}




/* Subparagraph Flexbox */
#expand {
  margin-top: 20px;
}
.subParagraphs {
    display: flex;
    justify-content: space-evenly;
}
.subPar:hover {
    background-color: lightcyan;
}

#about-container {
    background-color: lightcyan;
}