:root {
    --olive: rgb(108, 160, 115);
    --red: rgb(230, 87, 0);
    --off-white: antiquewhite;
    --heading1: min(45px, 12vw);
    --heading2: min(30px, 6vw);
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    text-align: center;
}
body {
    background-color: var(--olive);
}

#welcomeText {
    font-family:  Tahoma, Geneva, sans-serif;
    color: var(--off-white);
}

#heading {
    background-image: url("images/cam.jpg");
    background-position-y: 50%;
    width: 100vw;
    max-height: 25vh;
    background-size: cover;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}

#rectangle{
    height: auto;
    width: 50vw;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--olive);
    opacity: 0.95;
    font-family: 'Permanent Marker';
    color: var(--off-white);
    text-shadow: 1px 2px var(--red);
    font-size: var(--heading1);
    text-align: center;
    padding: 0px;
    padding-bottom: 15px;
    line-height: min(1vw, 1.5);

}
h3 {
    font-size: var(--heading2);
    line-height: 0.2;
    text-shadow: none;
}
h1 {
    font-family: 'Permanent Marker';
    color: var(--off-white);
    font-size: var(--heading1);
}


/* Gallery */
#galleryBox {
    padding: 10px; 
    background-color: var(--off-white);
    border-radius: 10px;
    font-family: 'Permanent Marker';
    text-shadow: 1px 2px var(--red);
    color: var(--olive);
    font-size: var(--heading2);
    text-align: center;
    line-height: 0;
    max-width: 1000px;
}
#gallery {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#gallery img {
    padding: 0px;
    max-height: 200px;
    max-width: 70vw;
}
#gallery img:hover{
   opacity: 0.8; 
}
#gallery a {
    color: var(--red);
    background-color: var(--off-white);
    font-size: 20px;
    text-decoration: none;
    text-shadow: none;
    font-family: Tahoma, Geneva, sans-serif;
    padding-bottom: 5px;
}


/* Subparagraph Flexbox */
#expand {
  margin-top: 20px;
}
.subParagraphs {
    display: flex;
    justify-content: space-evenly;
}
.subpar {
    border-radius: 10px;
    min-width: 33vw;
}
.activeTab {
    background-color: var(--red);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 2px var(--olive);
}
#about-container { 
    background-color: var(--red);
    color: var(--off-white);
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
    border-radius: 10px;
    max-width: 1200px;
    font-size: 15px;
}


/* Social Links */
#links {
    display: flex;
    justify-content: space-evenly;
}
.link {
    font-family: 'Permanent Marker';
    color: var(--off-white);
    font-size: var(--heading2);
    text-decoration: none;
}
.link:hover {
    text-shadow: 1px 2px var(--red);
}
#button-container {
    display: flex;
    justify-content: space-evenly;
}
#comments-button {
    background-color: var(--red);
    color: var(--off-white);
    border-radius: 10px;
    font-size: var(--heading1);
    text-align: center;
    max-width: 500px;
    width: 20vw;
    text-decoration: none;
}  

/* Comments Table */
#comments-container {
    display: flex;
    justify-content: center;
    font-family:  Tahoma, Geneva, sans-serif;
    color: var(--off-white);
    margin: auto;
}
table {
    width: 85vw;
    max-width: 70%;
    border-spacing: 0.5rem;
    table-layout:fixed;
}
th {
    font-style: oblique;
    font-size: var(--heading2);
    padding: 15px;
    text-align: left;

}
td {
    text-align: left;
    word-wrap: break-word;

}

td:nth-child(1), #thName{
    padding: 5px;
    width: 30%;
}

td:nth-child(2), #thMessage {
    padding: 15px;
}

#commentSelect { 
    display: flex;
    justify-content: center;
}